
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    
    
  
    
}

img{
    
    vertical-align: middle;
    
    
}
.h1-style{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    

}
main {

    background-color: lightgray;
    
    
    padding: 30px 150px 15px 150px;
}
.top-main-section{
    padding: 20px 0 20px 20px;
    vertical-align: middle;
    background-color: white;
    
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.bottom-main-section{
    padding: 20px;
    background-color: white;
    height: 690px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.blu-button{
    padding: 5px 10px;
    vertical-align: middle;
    background-color: #47adf1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.white-button{
    padding: 5px 10px;
    vertical-align: middle;
    background-color: #ffffff;
    color: rgb(110, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(110, 107, 107);
}
.bottom-main-section{
    padding: 20px;
}

li{
    display: list-item;
    
    list-style-type: none;
}
.text-task{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 90%;
    margin: 0;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.edit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: #47adf1;
    color: white;
}
.recruit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(17, 148, 84);
    color: white;
}
.mob{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(216, 160, 28);
    color: white;
}
.q1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(112, 55, 153);
    color: white;
}
.web{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(217, 54, 225);
    color: white;
}
.sales{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(32, 190, 18);
    color: white;
}
.check{
    color: green;
    font-size: 10px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 100%;
    border: 1px solid green;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 11px;
    margin-right: 3px;
}
.cross{
    color: red;
    font-size: 10px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 100%;
    border: 1px solid  red;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 10px;
    margin-right: 3px;
}
h2{
    font-size: larger;
    margin: 10px 0 10px 0;
    font-family: sans-serif;
}
